.wrap-form{}
.wrap-form .form-item, .wrap-form .form-checkboxes, .wrap-form .form-radios{
	margin:5px 0;
}
.wrap-form > fieldset{
	border:none;
	background:url(../images/form_bg.jpg) scroll repeat-x center bottom transparent;
}
.wrap-form > fieldset > legend{
	font-weight:700;
}
.wrap-form > fieldset > div > label{
	display:inline-block;
	float:left;
	width:300px;
	font-weight:400;
}
.wrap-form > fieldset > div > select{
	width:252px;border:1px solid #aaa;color:#333;
}
.wrap-form > fieldset > div > input{
	width:250px;border:1px solid #aaa;color:#333;
}
.wrap-form > fieldset > div > textarea{
	border:1px solid #aaa;color:#333;
	width:250px;height:50px;resize:none;
}